<div>
  <h1>Administración de clientes</h1>
  @if (hayClientes()) {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Eliminar</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        @for(cliente of clientes; track cliente.id) {
        <tr>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.correo}}</td>
          <td><button (click)="eliminar(cliente.id)">Eliminar</button></td>
          <td><button (click)="seleccionar(cliente)">Seleccionar</button></td>
        </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>No hay clientes.</p>
  }

  <div>
    <p>
      ID:<input type="number" [(ngModel)]="cliente.id" />
    </p>
    <p>
      Nombre:<input type="text" [(ngModel)]="cliente.nombre" />
    </p>
    <p>
      Correo:<input type="email" [(ngModel)]="cliente.correo" />
    </p>
    <p>
      <button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button>
    </p>
  </div>
</div>
